<%- include('../../includes/seo') %>
<body>
    <%- include('../../includes/nav') %>
    <h1>Hello from <%= pageID %></h1>
    <div>
        <% if(item) { %>
            <div class="shadow-md rounded-2xl bg-white w-96 h-auto m-auto px-4 py-3 flex flex-col">
                <div class="relative overflow-hidden w-full h-56 transform scale-75">
                     <img 
                     class="absolute top-0 left-0 w-full h-full object-cover"
                     src="<%= item.img %>" 
                     alt="<%= item.name %>">
                </div>
                <div class="p-2 bg-orange-light rounded-2xl">
                     <h1 class="text-white font-bold">
                         <%= item.name %>
                     </h1> 
                     <p class="text-gray-50 text-xs">
                         <%= item.desc %>
                     </p>
                     <div class="flex justify-between items-end mt-4 font-extrabold">
                         <h2>
                             &#x20B9; <%= item.price %>
                         </h2>
                         <div class="flex gap-1">
                             <a href="/products/<%= item.id %>" class="no-underline">
                                 <button class="rounded-xl bg-black text-white py-2 px-4 text-xs font-bold">
                                     Add to cart
                                 </button>
                            </a>
                         </div>
                     </div>
                </div>
             </div>
        <% } %>
    </div>
</body>
</html>
 