<%- include('../includes/seo') %>
<body>
    <%- include('../includes/nav') %>
    <div>
        <% if(itemData.length > 0) {%>
            <div class="flex">
                <% itemData.forEach(item => { %>
                    <a  href="/products/<%= item._id %>" class="shadow-md rounded-2xl bg-white w-96 h-auto m-auto px-4 py-3 flex flex-col">
                       <div class="relative overflow-hidden w-full h-80">
                            <img 
                            class="w-full h-full object-cover"
                            src="<%= item.image %>" 
                            alt="<%= item.name %>">
                       </div>
                       <div class="mt-8">
                            <h1 class="text-black font-medium text-lg tracking-wide">
                                <%= item.name %> <%= item.des%>
                            </h1> 
                            <div class="flex justify-between items-end mt-1 font-medium font-sans text-lg text-gray-400 tracking-normal">
                                <h2>
                                    &#x20B9;<%= item.price %>
                                </h2>
                            </div>
                       </div>
                    </a>
                <% }) %>
            </div>
        <% } else { %>
            <div>NO PRODUCTS ADDED!</div>
        <%  } %>
    </div>
</body>
</html>
 