<%- include('../includes/seo') %>
<body>
    <%- include('../includes/nav') %>
    <div>
        <% if(itemData.length > 0) {%>
            <div>
                <% itemData.forEach(item => { %>
                    <div class="shadow-lg rounded-2xl  bg-white w-64 m-auto p-2">
                        <div class="relative overflow-hidden w-full p-4 h-36 m-auto transform scale-75">
                            <img src="<%= item.image %>" alt="adidas" class="w-full h-full object-cover absolute top-0 left-0">
                        </div>
                        <div class="bg-yellow-200 m-3 p-4 rounded-lg">
                            <p class="text-white text-xl font-bold ">
                                <%= item.name %> 
                            </p>
                            <p class="text-gray-50 text-xs">
                                <%= item.des %>
                            </p>
                            <div class="flex items-center justify-between ">
                                <p class="text-white">
                                    <%= item.price %>
                                </p>
                                <button type="button" class="w-10 h-10 text-base font-medium rounded-full text-white bg-black hover:bg-gray-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="mx-auto" fill="white" viewBox="0 0 1792 1792">
                                        <path d="M1600 736v192q0 40-28 68t-68 28h-416v416q0 40-28 68t-68 28h-192q-40 0-68-28t-28-68v-416h-416q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h416v-416q0-40 28-68t68-28h192q40 0 68 28t28 68v416h416q40 0 68 28t28 68z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <div>NO PRODUCTS ADDED!</div>
        <%  } %>
    </div>
</body>
</html>
 